.dot-wave-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    --dot-translateY: 8px;

    &.centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.full-screen {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(255, 255, 255, 0.6);
        z-index: 9999;
        backdrop-filter: blur(10px);
    }

    &.inline {
        width: auto;
        height: auto;
        display: inline-flex;
        --dot-translateY: 4px;
    }

    .dot-wave {
        display: flex;
        align-items: center;
        gap: 8px;
        height: 30px;

        span {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            transform: translateY(calc(var(--dot-translateY)));
            animation: dotWave 1s infinite ease-in-out;
        }

        span:nth-child(1) {
            background-color: #0057b7;
            animation-delay: 0s;
        }

        span:nth-child(2) {
            background-color: #3384cc;
            animation-delay: 0.1s;
        }

        span:nth-child(3) {
            background-color: #66afe5;
            animation-delay: 0.2s;
        }

        span:nth-child(4) {
            background-color: #99c9ee;
            animation-delay: 0.3s;
        }

        span:nth-child(5) {
            background-color: #cce4f6;
            animation-delay: 0.4s;
        }
    }
}

@keyframes dotWave {
    0%,
    100% {
        transform: translateY(calc(var(--dot-translateY)));
    }
    50% {
        transform: translateY(calc(-1 * var(--dot-translateY)));
    }
}
